<body> 
 <class="social-icons">
div{
    font-size:100px
}       
    subheading{
    font-family: 'Noto Sans TC', sans-serif;
}
social-icons{font-size:100px
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans TC', sans-serif;
    color:#D2691E;
    font-size:60px
}    
subheading {
    font-family: 'Noto Sans TC', sans-serif;
}
subheading mb-3{
    text-align:left
    font-size:40px
}
td {border-bottom:1px solid #d8e3f0;}
tr:nth-child(even) {background-color:#fff;}
tr:nth-child(odd) {background-color:#fff;}
container {text-align:center
}
table {width: 80%;}
table{
margin-left:auto; 
margin-right:auto;
}
table td, table th{padding:0.75rem}
ol {
    text-align:left
}
container{background-color:#d8e3f0}
img {
vertical-align: left;
border-style: none;
weight:300px;
height:300px
}
row {display:flex;
flex-wrap:wrap
}
p {color:#20B2AA;
margin-top:0;
margin-bottom:1rem;
margin-left:1rem
}
row text-center text-lg-left {display:flex;
flex-wrap:wrap
}
row {display:flex;
flex-wrap:wrap
}
container {max-width:540px;
}
div#container {max-width:540px;
}
div#row {display:flex;
flex-wrap:wrap
}
d-flex flex-column-reverse {max-width:540px;
}
.row {display:flex;
flex-wrap:wrap ;
margin-left:auto; 
margin-right:auto;
text-align:left
}
h2 {text-align:left
}
.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}
.box {
  border: 1px solid ;
  width: 300px;
}
.a, .b {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 1px solid ;
}
.mb-3, .my-3 {font-size:20px ;
 margin-bottom:0.5rem
 }
