body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
h1 {
	font-size: 5rem;
	line-height: 10rem;
    
}   
  
}
.subheading {
	font-family: 'Noto Sans TC', sans-serif;
	text-transform: none;
	font-size: 1.2em;



}

section.resume-section {
	background-position:top left;
	background-repeat: repeat;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png")
}

.bg-primary {
  background-color: #0066cc !important;
  background-position:top left;
  background-repeat: repeat;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}


.box{
  background-color: white;
  width: 300px;
  height: 300px;
  border: 15px solid darkred;
  padding: 50px;
  margin: 20px;
  display: inline-block;
}

.style{
  display:block;
  margin:auto"
