<body> 
 <class="social-icons">
div{
    font-size:100px
}       
    subheading{
    font-family: 'Noto Sans TC', sans-serif;
}
social-icons{font-size:100px
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans TC', sans-serif;
    color:#D2691E;
    font-size:60px
}    
subheading {
    font-family: 'Noto Sans TC', sans-serif;
}
subheading mb-3{
    text-align:left
    font-size:40px
}
ol {
    text-align:left
}
container{background-color:#d8e3f0}
td {border-bottom:1px solid #3f294a;}
tr:nth-child(even) {background-color:#ddd;}
tr:nth-child(odd) {background-color:#fff;}
container {text-align:center
}
table {width: 80%;}
table{
margin-left:auto; 
margin-right:auto;
}
img {
vertical-align: middle;
border-style: none;
weight:400px;
height:200px
}
